@media only screen and (min-width : 768px) {

}
      /*** HEADER ***/
header {
  display: inline-flex;
  height: 50px;
  width: 100%;
  background-color: #f7f7f7;
  border-style: solid;
  border-color: #f7f7f7;
  /*border-radius: 15px 50px 30px 5px;*/
  color: #1a64d2;
  /*justify-content: space-around;*/

}
.blue {
  background-color: #e9e9e9;
  color: #1a64d2;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: ridge;
  border-bottom: hidden;
  border-color: #f7f7f7;
  float: left;
}
.black {
  background-color: #f7f7f7;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-bottom: none;
  border-style: ridge;
  border-width: medium;
  border-color: #e9e9e9;
  float: flex;
  /*flex-flow: row wrap;*/
}

         /***     BODY    ***/
         /****     SEARCH BAR   ****/

.top_bar       {
           display: inline-flex;
           min-height: 2em;
           width: 100%;
           background-color: #f7f7f7;
           border-style: solid;
           border-color: #f7f7f7;
           /*border-radius: 15px 50px 30px 5px;*/
           color: #1a64d2;
           /*justify-content: space-around;*/
           flex: auto;

         }
#depart_city {
  background-color: #ffffff;
  color: black;
  width: 26%;
  min-height: 30px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-bottom: none;
  border-style: solid;
  border-width: thin;
  border-color: #e9e9e9;
  float: flex;
  /*flex-flow: row-wrap;*/
}
#arrive_city {
  background-color: #ffffff;
  color: black;
  width: 26%;
  min-height: 30px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-bottom: none;
  border-style: solid;
  border-width: thin;
  border-color: #e9e9e9;
  float: flex;
}
#dates {
  background-color: #ffffff;
  color: black;
  width: 32%;
  min-height: 20px;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: #e9e9e9;
  float: flex;
  padding-left: 1em;
  padding-top: 1em;
}
.fa-calendar {
  float: left;
}
#depart {
  background-color: #f6f6f6;
  color: black;
  width: 10em;
  height: 2em;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: #e9e9e9;
  float: flex;
}
#arrive {
  background-color: #f6f6f6;
  color: black;
  /*font: 12px Georgia, serif;*/
  width: 10em;
  height: 2em;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: #e9e9e9;
  float: flex;
}
.top_bar a:link, a:visited {
    background-color: #f87c00;
    color: white;
    width: 9%;
    height: 40px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: ridge;
    border-color: f7f7f7;
    float: flex;
}

.top_bar a:hover, a:active {
    background-color: #f87c00;
}
#plus {
  background-color: #f7f7f7;
  color: #666666;
  width: 4%;
  height: 3em;
  padding: 10px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: #e9e9e9;
  float: flex;
}


               /*****        FULL    BODY      *****/

.full {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  background-color: #f9f9f9;
  height: 100vh;
  flex: auto;

}

              /*****           LEFT         ******/
.left {
  display: inline-flex;
  flex-direction: column;
  width: 26%;
  background-color: #f9f9f9;
  height: 100vh;
  border: solid;
  border-color: #e7e7e7;
  border-width: thin;
  /*flex: 1;*/
}


}
#links {
display: inline-block;
width: 100%;
background-color: #f9f9f9;
padding:inherit;
height: 5em;
color: black;
text-decoration: none;
border: solid;
border-bottom: none;
border-color: #e7e7e7;
border-width: thin;
/*text-align: center;*/
float: flex;
justify-content: space-around;
}

#links a {
  text-decoration: underline;
  color: #1a64d2
}

#flex_dates {
  display: inline-block;
  width: 100%;
  background-color: #f9f9f9;
  padding:inherit;
  height: 2em;
  color: black;
  text-decoration: none;
  text-align: center;
  border: solid;
  border-top: none;
  border-color: #e7e7e7;
  border-width: thin;
  /*text-align: center;*/
  float: flex;
  justify-content: space-around;
}

#flex_dates a {
  color: #1a64d2;
  text-decoration: underline;
  text-align: center;
}
.trends {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  /*padding: inherit;*/
  height: 4em;
  color: black;
  text-decoration: none;
  border: solid;
  border-color: #e7e7e7;
  border-width: thin;
  text-align: left;
  float: flex;
  justify-content: space-around;
}
#advice {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  /*padding:inherit;*/
  height: 2em;
  color: black;
  text-decoration: none;
  text-align: center;
  /*border: solid;*/
  /*border-top: none;
  border-color: #e7e7e7;
  border-width: thin;
  /*text-align: center;*/
  flex-direction: column;
  /*justify-content: space-around;*/
}

#prediction {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  /*padding:inherit;*/
  height: 2em;
  color: black;
  text-decoration: none;
  text-align: center;
  /*border: solid;*/
  /*border-top: none;
  border-color: #e7e7e7;
  border-width: thin;
  /*text-align: center;*/
  flex-direction: column;
  /*justify-content: space-around;*/
}
.stops {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  /*padding:inherit;*/
  height: 2em;
  color: black;
  text-decoration: none;
  border: solid;
  border-color: #e7e7e7;
  border-width: thin;
  text-align: center;
  flex-direction: row;
  /*float: flex;*/
  justify-content: space-around;
}
.nonstop {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  /*padding:inherit;*/
  height: 2em;
  color: black;
  text-decoration: none;
  /*border: solid;
  border-color: #e7e7e7;
  border-width: thin;*/
  text-align: center;
  flex-direction: row;
  /*float: flex;*/
}
#nonstop {
display: flex;
width: 100%;
background-color: #f9f9f9;
height: 1em;
color: black;
flex-direction: column;
}
#nonstop_price {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  height: 1em;
  color: black;
  flex-direction: column;
}
.one_stop {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  /*padding:inherit;*/
  height: 2em;
  color: black;
  text-decoration: none;
  /*border: solid;
  border-color: #e7e7e7;
  border-width: thin;*/
  text-align: center;
  flex-direction: row;
}
#one_stop {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  height: 1em;
  color: black;
  flex-direction: column;
}
#one_stop_price {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  height: 1em;
  color: black;
  flex-direction: column;
}
.two_stop {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  /*padding:inherit;*/
  height: 2em;
  color: black;
  text-decoration: none;
  /*border: solid;
  border-color: #e7e7e7;
  border-width: thin;*/
  text-align: center;
  flex-direction: row;
}
.fa-check-square-o {
  padding-left: 2em;
}
#two_stop {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  height: 1em;
  color: black;
  flex-direction: column;
}
#two_stop_price {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  height: 1em;
  color: black;
  flex-direction: column;
}
.times {
  display: inline-block;
  width: 100%;
  background-color: #f9f9f9;
  padding-left: 2em;
  height: 1.5em;
  color: black;
  text-align: left;
  text-decoration: none;
  border-top: solid;
  border-color: #e7e7e7;
  border-width: thin;
  /*text-align: center;*/
  float: flex;
  justify-content: space-around;
}
.NewYork {
  display: inline-block;
  width: 100%;
  background-color: #f9f9f9;
  padding-left: 2em;
  height: 1.5em;
  color: black;
  text-align: left;
  text-decoration: none;
  border-top: solid;
  border-color: #e7e7e7;
  border-width: thin;
  /*text-align: center;*/
  float: flex;
}

.takeofftime {
  display: inline-block;
  width: 100%;
  background-color: #f9f9f9;
  padding-left: 2em;
  height: 1.5em;
  color: black;
  text-align: left;
  text-decoration: none;
  border-top: solid;
  border-color: #e7e7e7;
  border-width: thin;
  /*text-align: center;*/
  float: flex;
  justify-content: space-around;
}
.slider {
  display: flex;
  background-color: #f9f9f9;
  height: 5em;
  color: black;
}
.slider input[type=range] {
  height: 37px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.slider input[type=range]:focus {
  outline: none;
}
.slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #A3A3A3;
  background: #E7E7E7;
  border-radius: 5px;
  border: 1px solid #C7C7C7;
}
.slider input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #A3A3A3;
  border: 1px solid #C7C7C7;
  height: 29px;
  width: 15px;
  border-radius: 5px;
  background: #E7E7E7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
}
.slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E7E7E7;
}
.slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #A3A3A3;
  background: #E7E7E7;
  border-radius: 5px;
  border: 1px solid #C7C7C7;
}
.slider input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #A3A3A3;
  border: 1px solid #C7C7C7;
  height: 29px;
  width: 15px;
  border-radius: 5px;
  background: #E7E7E7;
  cursor: pointer;
}
.slider input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider input[type=range]::-ms-fill-lower {
  background: #E7E7E7;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #A3A3A3;
}
.slider input[type=range]::-ms-fill-upper {
  background: #E7E7E7;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #A3A3A3;
}
.slider input[type=range]::-ms-thumb {
  display:flex;
  margin-top: 1px;
  box-shadow: 1px 1px 1px #A3A3A3;
  border: 1px solid #C7C7C7;
  height: 29px;
  width: 15px;
  border-radius: 5px;
  background: #E7E7E7;
  cursor: pointer;
}
.slider input[type=range]:focus::-ms-fill-lower {
  background: #E7E7E7;
}
.slider input[type=range]:focus::-ms-fill-upper {
  background: #E7E7E7;
}

.airports {
  display: inline-block;
  width: 100%;
  background-color: #f9f9f9;
  padding:inherit;
  height: 3em;
  color: black;
  text-decoration: none;
  border: solid;
  border-color: #e7e7e7;
  border-width: thin;
  /*text-align: center;*/
  float: flex;
  justify-content: space-around;
}

                      /**********           RIGHT           ***********/

  .right {
    display: inline-block;
    flex-direction: column;
    width: 73.45%;
    background: #f9f9f9;
    height: 100vh;
    border: solid;
    border-color: #e7e7e7;
    border-width: thin;
    /*flex: 1;*/
  }
  .results {
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    padding:inherit;
    height: 3em;
    color: black;
    text-decoration: none;
    text-align: center;
    border: solid;
    border-top: none;
    border-color: #e7e7e7;
    border-width: thin;
    /*text-align: center;*/
    flex: auto;
    justify-content: space-around;
  }
  .flight_result {
    display: inline-block;
    width:15%;
    background-color: #ffffff;
    /*height: 3em;*/
    color: #0e0e0e;
    padding-top: .5em;
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    padding-left: 1em;
    /*border: solid;*/
    border-color: #e7e7e7;
    float: left;
  }
  #show_all a {
    display: inline-block;
    width:10%;
    background-color: #ffffff;
    /*height: 3em;*/
    color: #2257d7;
    padding-top: 1em;
    /*text-decoration: none;*/
    text-align: left;
    font-size: 12px;
    padding-left: 1em;
    /*border: solid;*/
    border-color: #e7e7e7;
    float: left;
  }
  .advertisement {
    display: flex;
    width: 100%;
    background-color: #f9f9f9;
    padding:inherit;
    height: 10em;
    color: black;
    text-decoration: none;
    text-align: center;
    border: solid;
    border-top: none;
    border-color: #e7e7e7;
    border-width: thin;
    /*text-align: center;*/
    flex: auto;
    /*justify-content: space-around;*/
  }
  .left1 {
      display: flex;
      width:30%;
      background-color: #f9f9f9;
      /*height: 10em;*/
      color: #0e0e0e;
      /*padding-top: .5em;*/
      text-decoration: none;
      text-align: left;
      font-size: 18px;
      /*padding-left: 1em;*/
      border-top: none;
      border-left: none;
      border-bottom: none;
      border-right: dotted;
      border-color: #e7e7e7;
      flex-direction: column;
  }
  #Check_Rates {
    /*display: inline-block;*/
    width:100%;
    background-color: #f9f9f9;
    /*height: 5em;*/*/
    color: #0e0e0e;
    /*margin-left: 1em;*/
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    /*padding-left: 1em;*/
    /*border: solid;*/
    /*border-color: #e7e7e7;*/
    flex-direction: column;
  }
  #search {
    /*display: inline-block;*/
    width:100%;
    flex-direction: column;
    background-color: #f9f9f9;
    /*height: 5em;*/
    color: #0e0e0e;
    /*padding-top: .5em;*/
    text-decoration: none;
    text-align: center;
    /*font-size: 18px;*/
    /*padding-left: 1em;*/
    /*border: solid;*/
    /*border-color: #e7e7e7;*/
    float: left;
    flex-flow: column;
  }
  #search a:link, a:visited {
      background-color: #f87c00;
      color: white;
      width: 6em;
      height: 2.5em;
      padding-top: .25em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-style: ridge;
      border-color: #f7f7f7;
      float: flex;
  }

  #search a:hover, a:active {
      background-color: #f87c00;
  }
  .middle {
    display: flex;
    width:70%;
    background-color: #f9f9f9;
    /*height: 10em;*/
    color: #0e0e0e;
    /*padding-top: .5em;*/
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    /*padding-left: 1em;*/
    /*border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: dotted;*/
    border-color: #e7e7e7;
    flex-direction: column;

}
#middle1 {
    /*display: inline-block;*/
    width:100%;
    background-color: #f9f9f9;
    height: 5em;
    color: #0e0e0e;
    /*margin-left: 1em;*/
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    /*padding-left: 1em;*/
    /*border: solid;*/
    /*border-color: #e7e7e7;*/
    flex-direction: column;
}
#save_time {
  width:100%;
  flex-direction: column;
  background-color: #f9f9f9;
  /*height: 5em;*/
  color: #0e0e0e;
  padding-top: .5em;
  text-decoration: none;
  text-align: center;
  /*font-size: 18px;*/
  /*padding-left: 1em;*/
  /*border: solid;*/
  /*border-color: #e7e7e7;*/
  float: left;
  flex-flow: column;
}
#link {
  width:100%;
  flex-direction: column;
  background-color: #f9f9f9;
  /*height: 5em;*/
  color: #0e0e0e;
  padding-top: .5em;
  text-decoration: none;
  text-align: center;
  /*font-size: 18px;*/
  /*padding-left: 1em;*/
  /*border: solid;*/
  /*border-color: #e7e7e7;*/
  float: left;
  flex-flow: column;
}
#link a {
  color: #1a64d2;
  text-decoration: underline;
  text-align: center;
}
.right1 {
  display: flex;
  width:40%;
  background-color: #f9f9f9;
  /*height: 10em;*/
  color: #0e0e0e;
  /*padding-top: .5em;*/
  text-decoration: none;
  text-align: left;
  font-size: 18px;

  border-color: #e7e7e7;
  /*flex-direction: column;*/
}
#logo img {
  align-items: flex-end;
  padding-left: 6em;

}
/*#logo img {
align-items: flex-end;
}*/
.result1 {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  padding:inherit;
  height: 10em;
  color: black;
  text-decoration: none;
  text-align: center;
  border: solid;
  border-top: none;
  border-color: #e7e7e7;
  border-width: thin;
  /*text-align: center;*/
  flex: auto;
}
.leftresult1 {
  display: inline-flex;
  width:21%;
  background-color: #f9f9f9;
  height: 10em;
  color: #0e0e0e;
  /*display: inline-flex;*/
  flex-direction: column;
  width: 26%;
  background-color: #f9f9f9;
  /*height: 100vh;*/
  border: solid;
  border-color: #e7e7e7;
  border-width: thin;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: dotted;
  border-color: #e7e7e7;
}

#result1_price {
display: flex;
width: 100%;
text-align: center;
font: 36px;
background-color: #f9f9f9;
/*padding: inherit;*/
height: 2em;
color: black;
padding-top: .5em;
text-decoration: none;
flex-direction: column;
}
#result1_comp {
display: flex;
width: 100%;
text-align: center;
font: 36px;
background-color: #f9f9f9;
/*padding: inherit;*/
height: 1.5em;
color: black;
/*padding-top: .5em;*/
text-decoration: none;
flex-direction: column;
}
.company {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  height: 2em;
  color: black;
  text-decoration: none;
  /*border-width: thin;*/*/
  text-align: center;
  flex-direction: row;
  /*float: flex;*/
}
#orbitz {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  height: 1em;
  color: black;
  flex-direction: column;
  text-align: left;
  margin-left: .25em;
}
#company_price {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  height: 1em;
  color: black;
  flex-direction: column;
}
#orbitz a {
  color: #1a64d2;
  text-align: left;
  margin-left: .25em;
}
#cheaptickets {
  margin-left: .25em;
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  height: 1em;
  color: black;
  flex-direction: column;
}
#cheaptickets a {
  color: #1a64d2;
  text-align: left;
  margin-left: .25em;
}
#company_price a {
color: #1a64d2;
}
#six_more {
  display: flex;
  width: 100%;
  background-color: #f9f9f9;
  text-align: left;
  height: 1em;
  color: black;
  flex-direction: column;
}
#six_more a {
  color: #1a64d2;
  text-align: left;
  margin-left: .5em;
}
.right_result1 {
  display: flex;
}
.far_left {
  display: flex;
  flex-direction: column;
}
#icon {
  align-content: center;
  padding: 2em;
}
#details_button {
  background-color: #f7f7f7;
  color: #ababab;
  width: 4em;
  height: 2em;
  /*padding-top: .25em;*/
  margin-left: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: ridge;
  border-color: #ababab;
  float: flex;
}

#details_button a {
  color: #ababab;
}
.middle_left {
  display: flex;
  flex-direction: column;
}
#title {
  margin-top: .5em;
  text-align: left;
  font-size: 18px;
  margin-left: 3em;
}
#jfk {
  margin-top: .5em;
  text-align: left;
  font-size: 18px;
  margin-left: 3em;
}
#kef {
  margin-top: .5em;
  text-align: left;
  font-size: 18px;
  margin-left: 3em;
}
#fares_button {
  background-color: #f7f7f7;
  color: #ababab;
  width: 4em;
  height: 2em;
  /*padding-top: .25em;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: ridge;
  border-color: #ababab;
}
#fares_button a {
  color: #ababab;
}
#flight_time {
  margin-top: 2em;
  text-align: left;
  font-size: 18px;
  margin-left: 3em;
}
#flight_time2 {
  margin-top: .5em;
  text-align: left;
  font-size: 18px;
  margin-left: 3em;
}
.middle_right {
  display: flex;
  flex-direction: column;
}
.far_right {
  width: 15%;
  display: flex;
  color: #ababab;
  flex-direction: column;
  margin-top: 8em;
  text-align: right;
}
.result2 {
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  padding:inherit;
  height: 10em;
  color: black;
  text-decoration: none;
  text-align: center;
  border: solid;
  border-top: solid;
  border-color: #e7e7e7;
  border-width: thin;
  /*text-align: center;*/
  float: flex;
  justify-content: space-around;
}
.result3 {
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  padding:inherit;
  height: 10em;
  color: black;
  text-decoration: none;
  text-align: center;
  border: solid;
  border-top: solid;
  border-color: #e7e7e7;
  border-width: thin;
  /*text-align: center;*/
  float: flex;
  justify-content: space-around;
}
